<html>
    <header>

    </header>
    <body>
        <div class="flex justify-center pt-5 font-Regular text-xl">
            <div class="flex-col w-3/4 ml-20 mr-10 px font-Regular text-justify">
                <h1 class="block font-Header text-4xl text-red-700">Hoang Thuy Linh scoops Best Asian Artist Vietnam title at MAMA 2019</h1>
                <!-- thêm icon đồng hồ -->
                <h3 class="container text-base my-2 rounded-xl">November 20, 2023</h3>
                <p>Singer Hoang Thuy Linh was named Best Asian Artist Vietnam at South Korea's 2019 Mnet Asian Music Awards (MAMA 2019).
                </p> <br>
                <p>Absent from the MAMA 2019 ceremony in Nagoya, Japan on December 4, Hoang Thuy Linh shared her feelings via video, praising her team, family, fans and award organizers.
                </p>
                <img class="mx-auto mt-6" src="https://i1-english.vnecdn.net/2019/12/05/hoang-thuy-linh-1-4102-1575518-8474-3393-1575538288.jpg?w=680&h=0&q=100&dpr=1&fit=crop&s=Vx51zIJQDaaoZHmiuqR6nw" alt="image">
                <p class="text-center text-base text-gray-800">Hoang Thuy Linh grasps her MAMA trophy. Photo by Facebook/Hoang Thuy Linh.</p>                
                    <br>
                <p>
                    "I appreciate the MAMA award, though it’s far from my goal in music. I have worked hard this year and achieved success. I want people to enjoy and rate my songs," the Vietnamese singer explained.
                </p>
                    <br>
                <p>
                    The video additionally featured her hit "De Mi Noi Cho Ma Nghe" (Let Me Tell You) from her latest album, "Hoang", influenced by Vietnamese folklore. The singer maintains The Best Asian Artist award is a motivation for her to work even harder in future.
                </p> 
                    <br>
                <p>
                    The award pays tribute to artists from Vietnam, Japan, Thailand, China, and Indonesia. Many Vietnamese singers including My Tam, Thu Minh, Ho Quynh Huong, Dong Nhi, Noo Phuoc Thinh, Toc Tien and Huong Tram have received this award in the past.
                </p>    
                    <br>
                <p>
                    MAMA 2019 also honored Vietnamese duo K-ICM and Jack as Best New Asian Artist Vietnam. They achieved fame with many songs combining Vietnamese traditional music and electronica.
                </p>    
                    <br>
                <p>
                    As a major South Korean event, MAMA 2019 honors talented artists for their contribution to musical development, most awards going to K-pop stars.
                </p>    
                    <br>
                <iframe class="rounded-xl py-2" style="border-radius:12px" src="https://open.spotify.com/embed/track/5mBWIm9EGnhZRYBYgAS72m?utm_source=generator&theme=0" width="100%" height="200"  frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
                <form action="#" method="post">
                    <fieldset>
                        <legend class="font-Header text-4xl mb-5">Write comment</legend>
                            <textarea id="comment" name="comment" placeholder="Type here.." aria-required="true" spellcheck="false" class="w-full h-52 p-2 bg-gray-300 bg-opacity-50 border border-gray-500"></textarea>
                            <div class="flex justify-between">
                                <input type="text" placeholder="Name*" class="w-1/2 h-10 my-2 p-2 bg-gray-300 bg-opacity-50 border border-gray-500" required>
                                <input type="text" placeholder="Email*" class="w-1/2 ml-20 h-10 my-2 p-2 bg-gray-300 bg-opacity-50 border border-gray-500" required>
                            </div>
                            <p><input type="submit" value="Post Comment >>" class="bg-black bg-opacity-80 flex w-fit h-12 rounded-md text-center px-10 my-2 font-bold text-white cursor-pointer"></p>
                    </fieldset>
                </form>
                
            </div> 
            <div class="w-1/3 justify-start text-base mr-20 sticky top-0 h-screen">
                <ul>
                    <div class="font-Header text-2xl mt-1 text-center -mb-1">
                        Related blogs
                    </div>
                    <li class="list-none">
                        <div class="flex mt-5 pl-5 py-2 bg-slate-300 bg-opacity-30">
                            <div class="absolute w-7 h-7 pt-1 mt-6 -ml-3 leading-5 font-bold text-center text-white bg-red-700 bg-opacity-90">
                                1
                            </div>
                            <img class="w-28 h-20 rounded-xl" src="https://neonmusic.online/wp-content/uploads/2023/10/ab67616d0000b273e787cffec20aa2a396a61647.jpeg" alt="">
                            <span class="flex mx-3 items-center">The melodic magic of Taylor Swift: A journey through her best lyrics</span>
                        </div>
                    </li>
                    <li>
                        <div class="flex mt-5 pl-5 py-2 bg-slate-300 bg-opacity-30">
                            <div class="absolute w-7 h-7 pt-1 mt-6 -ml-3 leading-5 font-bold text-center text-white bg-red-700 bg-opacity-90">
                                2
                            </div>
                            <img class="w-28 h-20 rounded-xl" src="https://thatgrapejuice.net/wp-content/uploads/2023/11/mariah-carey-all-i-want-for-christmas-2023-bbmas-karol-g-stray-kids-morgan-wallen-performers-thatgrapejuice.jpg" alt="">
                            <span class="flex mx-3 items-center">2023 Billboard Music Awards [Mariah Carey, Tate McRae, Morgan Wallen, Stray Kids, & More]</span>
                        </div>
                    </li>
                    <li>
                        <div class="flex mt-5 pl-5 py-2 bg-slate-300 bg-opacity-30">
                            <div class="absolute w-7 h-7 pt-1 mt-6 -ml-3 leading-5 font-bold text-center text-white bg-red-700 bg-opacity-90">
                                3
                            </div>
                            <img class="w-28 h-20 rounded-xl" src="https://i.guim.co.uk/img/media/f0cb9234872ca7ba5ae33030110c468433815466/0_0_3712_2225/master/3712.jpg?width=620&dpr=1&s=none" alt="">
                            <span class="flex mx-3 items-center">Ariana Grande and Demi Lovato latest to split from manager Scooter Braun</span>
                        </div>
                    </li>
                    <li>
                        <div class="flex mt-5 pl-5 py-2 bg-slate-300 bg-opacity-30">
                            <div class="absolute w-7 h-7 pt-1 mt-6 -ml-3 leading-5 font-bold text-center text-white bg-red-700 bg-opacity-90">
                                4
                            </div>
                            <img class="w-28 h-20 rounded-xl" src="https://neonmusic.online/wp-content/uploads/2023/10/ab67616d0000b273e787cffec20aa2a396a61647.jpeg" alt="">
                            <span class="flex mx-3 items-center">The melodic magic of Taylor Swift: A journey through her best lyrics</span>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </body>
</html>

