<link rel="stylesheet" href="header.component.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<!-- HEADER -->
<div class="bg-BG h-[full] w-[full]  ">
<div class="sticky top-0 z-50	" id="header">
    <div class="bg-[#FAFDF2] w-[full] grid grid-cols-3 pr-[2vw] pl-[2vw]">
        <div class="flex items-center ">
            <p class="font-bold" >
                <i class="fas fa-user-circle ml-[1.75rem] mr-[1.75rem] hover:text-[#ECE4E3] "></i>
                <span class="mr-[10px]"><a href="#" class="hover:text-[#ECE4E3] ">Login</a></span> |
                <span class="ml-[10px]"><a href="#" class="hover:text-[#ECE4E3]">Sign up</a></span>
            </p>
        </div>
        <div class="max-w-[100%]">
            <div class="flex justify-center">
                <img src="../../assets/image/logo.png" alt="logo">
            </div>
        </div>
    <div class="flex content-center flex-row-reverse">

        <div class="flex content-center text-right mr-[1.75rem] mt-[20px] ml-[24px] ">
        <i class="fas fa-search hover:text-[#ECE4E3] "></i>
        <a routerLink="cart">
        <i class="fas fa-shopping-cart hover:text-[#ECE4E3] ml-[45px] "></i></a>
    </div>
    <div class="flex items-center">
        <form role="search" autocomplete="off" class="search focus:border-0"> 
            <input type="search" name="q" value="" autocomplete="off" aria-autocomplete="list" autocorrect="off" aria-label="Search..." placeholder="Search..." class="bg-[#FAFDF2] focus:border-transparent focus:outline-none">   
            <hr class="h-1 w-full bg-[#7E7E7E] ">       
         </form>
    </div>
    </div>
    </div>