<link rel="stylesheet" href="homepage.component.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<!-- HEADER -->
<div class="bg-BG h-[full] w-[full]  ">
<div class="sticky top-0 z-50	" id="header">
<!-- HEADER -->
<div>
  <div class="maincontent">
<!-- BANNER1 -->
<div class="flex justify-center items-center relative mb-[7%]">
  <img class=" w-[100%]" src=".//src/assets/img/BANNER_HOMEPAGE 1.png" />
  <div id="bannertb" class="grid grid-cols-4 w-[80%] top[90%] h-fit-content absolute bg-gray-300 bg-opacity-90 shadow-md rounded-lg border border-gray-400 mt-[31%] p-[20px]">
    <div class="grid grid-rows-3">
      <div class="flex items-center justify-center  text-[2.25vw] ">
        <i class="fas">&#xf0d1;</i>
      </div>
      <div class="flex items-center justify-center text-[1vw]">
        <p>
          <b>Nationwide Delivery</b>
        </p>
      </div>
      <div class="flex items-center justify-center  text-[1vw]">
        <p>Free shipping with orders<br>
          worth over 2,000,000 VND</p>
      </div>
    </div>
    <div class="grid grid-rows-3 ">
      <div class="flex items-center justify-center   text-[2.25vw]">
        <i class="fas">&#xf017;</i>
      </div>
      <div class="flex items-center justify-center text-center text-[1vw]">
        <p>
          <b>Online support 24/24</b>
        </p>
      </div>
      <div class="flex items-center justify-center text-center  text-[1vw]">
        <p>Always support customers <br> 24/24 
          days of week</p>
      </div>
    </div>
    <div class="grid grid-rows-3 ">
      <div class="flex items-center justify-center  text-[2.25vw]">
        <i class="fas fas fa-sync-alt fa-spin"></i>
      </div>
      <div class="flex items-center justify-center text-[1vw]">
        <p>
          <b>Easy exchange</b>
        </p>
      </div>
      <div class="flex items-center justify-center text-center  text-[1vw]">
        <p>Free returns within the  <br>first 7 days for 
          all items</p>
      </div>
    </div>
    <div class="grid grid-rows-3 ">
      <div class="flex items-center justify-center  text-[2.25vw]">
        <i class="fas">&#xf06b;</i>
      </div>
      <div class="flex items-center justify-center text-[1vw]">
        <p>
          <b>Attractive gifts</b>
        </p>
      </div>
      <div class="flex items-center justify-center text-center  text-[1vw]">
        <p>Each order will be
          <br> sent with an extremely
           attractive gift</p>
      </div>
    </div>
  </div>
</div>
<!-- BANNER1 -->

<!-- Main Cotain -->

<!-- SALE --> 
<div>
<div id="Heading">   
  <a href="#"><h1>SALE</h1></a>
</div>
<br>
<br>
<div class="Chứa">
  <div class="slide">
   <button class="slidebutton"  id='prev-slide'>
     <i class='fas'>&#xf104;</i>
   </button>
   <div class="dsa uppercase font-semibold	items-top">
     <div class="T1 group relative" *ngFor="let p of products">
      <a href="#" class="h-full">
        <div class="image-wrapper relative">
          <img src="{{p.TrendingI}}" class="absolute" alt="">
          <img class="hoverimg absolute" src="{{p.HoverTI}}" alt="hình">
          <div class="grid grid-rows-2 absolute end-0 top-[5px] items-center justify-center w-[20%] h-[30%] gap-[5px]">
            <div class="w-[1.9vw] h-[2.0vw]  bg-zinc-300 bg-opacity-80 rounded-full z-[3] flex items-center justify-center">
              <i class="far fa-heart text-[0.9vw] hover:text-[#ECE4E3] hover:text-[#820900]"></i>
            </div>
            <div class="relative z-[3] h-[100%] w-[100%] flex items-center justify-center">
              <div class="w-[2.1vw] h-[2.1vw] absolute bg-zinc-300 bg-opacity-80 rounded-full flex items-center justify-center">
                <i id="search-icon" class="fas fa-shopping-cart text-[0.9vw] hover:text-[#ECE4E3]"></i>
              </div>
            </div>
          </div>
          <div class="h-[30px] top-0 left-[2%] w-2vw absolute text-center text-white text-xs font-bold font-['Quicksand'] leading-none bg-red-900 rounded-t-[6px]" style="clip-path: polygon(100% 43.8%, 100% 100%, 50.49% 59.8%, 0% 100%, 0% 43.8%, 0% 0%, 100% 0%); z-index: 3;">

            <p class="text-[15px] mt-[2px]">{{p.Promotion}}</p>
          </div>
        </div>
        <br>
      </a>
       <p class="w-full text-center">
         {{p. Content}}
       </p>
       <div>
        <span class="text-[#CE0001] text-[14px]"><b>{{p.CurrentPrice  }} VND</b></span>   &nbsp;  <del class="text-[12px] opacity-[50%]"> {{p.Price}} </del>    
       </div>
       <div>
 
       </div>
       <form action="#" method="post" class="Addcart  w-full bottom-100 left-0 opacity-0 p-4 rounded-lg transition-opacity duration-300 opacity-0 group-hover:opacity-100">
         <input type="hidden" name="id" id="#">
         <button type="submit" name="add" class="w-full border-2 border-black rounded-full font-semibold h-10 hover:bg-black hover:text-white text-[0.8vw]">
           Add To Cart
         </button>
       </form>
     </div>
 
  </div>
 
  <button class="slidebutton"  id='next-slide'>
   <i class='fas'>&#xf105;</i>
 </button>
  </div>
 </div>
</div>
<!-- SALE  -->
<!-- CATE -->
<div class="z-0">
  <div id="Heading"  >   
    <a href="#"><h1>OUR PRODUCT</h1></a>
  </div>
  <br>
  <br>
  <div class="flex items-center justify-center  gap-[5vw]  mb-[8vh] ml-[5vw] mr-[5vw] text-[1.12vw]">
    <a href="#">
    <div class="items-center justify-center w-fit h-fit">
      <div class="flex items-center justify-center relative">
        <img src="http://localhost:4200/assets/img/image%207.png" alt="">
        <div class=" h-[35px] top-[88.4%] w-[100%] h-fit bg-stone-300 bg-opacity-80 shadow absolute">
          <div class=" flex items-center justify-center h-full text-white font-bold	">
            CASSETE
          </div>
        </div>
      </div>
    </div>
  </a>
  <a href="#">
    <div class="items-center justify-center w-fit h-fit">
      <div class="flex items-center justify-center relative">
        <img src="http://localhost:4200/assets/img/image%207.png" alt="">
        <div class=" h-[35px] top-[88.4%] w-[100%] h-fit bg-stone-300 bg-opacity-80 shadow absolute">
          <div class=" flex items-center justify-center h-full text-white font-bold	">
            CD
          </div>
        </div>
      </div>
    </div>
  </a>
  <a href="#">
    <div class="items-center justify-center w-fit h-fit">
      <div class="flex items-center justify-center relative">
        <img src="http://localhost:4200/assets/img/image%207.png" alt="">
        <div class=" h-[35px] top-[88.4%] w-[100%] h-fit bg-stone-300 bg-opacity-80 shadow absolute">
          <div class=" flex items-center justify-center h-full text-white font-bold	">
            VINYL
          </div>
        </div>
      </div>
    </div>
  </a>
  </div>
<!-- CATE -->
<!-- TREDING -->
<div id="Heading">   
  <a href="#"><h1>TRENDING</h1></a>
</div>
<br>
<br>
<div class="Chứa">
 <div class="slide1">
  <button class="slidebutton"  id='prev-slide'>
    <i class='fas'>&#xf104;	</i>
  </button>
  <div class="dsb uppercase font-semibold">
    <div class="T1 group relative" *ngFor="let p of products">
      <a href="#" class="h-full">
        <div class="image-wrapper relative">
          <img src="{{p.TrendingI}}" class="absolute" alt="">
          <img class="hoverimg absolute" src="{{p.HoverTI}}" alt="hình">
          <div class="grid grid-rows-2 absolute end-0 top-[5px] items-center justify-center w-[20%] h-[30%] gap-[5px]">
            <div class="w-[1.9vw] h-[2.0vw]  bg-zinc-300 bg-opacity-80 rounded-full z-[3] flex items-center justify-center">
              <i class="far fa-heart text-[0.9vw] hover:text-[#ECE4E3] hover:text-[#820900]"></i>
            </div>
            <div class="relative z-[3] h-[100%] w-[100%] flex items-center justify-center">
              <div class="w-[2.1vw] h-[2.1vw] absolute bg-zinc-300 bg-opacity-80 rounded-full flex items-center justify-center">
                <i id="search-icon" class="fas fa-shopping-cart text-[0.9vw] hover:text-[#ECE4E3]"></i>
              </div>
            </div>
          </div>
        </div>
        <br>
      </a>
       <p class="w-full text-center">
         {{p. Content}}
       </p>
       <div>
        <span>{{p.Price}}</span>
       </div>
       <form action="#" method="post" class="Addcart  w-full bottom-100 left-0 opacity-0 p-4 rounded-lg transition-opacity duration-300 opacity-0 group-hover:opacity-100">
        <input type="hidden" name="id" id="#">
        <button type="submit" name="add" class="w-full border-2 border-black rounded-full font-semibold h-10 hover:bg-black hover:text-white text-[0.8vw]">
          Add To Cart
        </button>
      </form>
     </div>
 </div>

 <button class="slidebutton"  id='next-slide'>
  <i class='fas'>&#xf105;	</i>
</button>
 </div>
</div>
<!-- TREDNING -->
<!-- NEW -->

<div id="Heading">   
  <a href="#"><h1>NEW</h1></a>
</div>
<br>
<br>
<div class="Chứa">
 <div class="slide2">
  <button class="slidebutton"  id='prev-slide'>
    <i class='fas'>&#xf104;</i>
  </button>
  <div class="dsn uppercase font-semibold">
    <div class="T1 group relative" *ngFor="let p of products">
      <a href="#" class="h-full">
        <div class="image-wrapper relative">
          <img src="{{p.TrendingI}}" class="absolute" alt="">
          <img class="hoverimg absolute" src="{{p.HoverTI}}" alt="hình">
          <div class="grid grid-rows-2 absolute end-0 top-[5px] items-center justify-center w-[20%] h-[30%] gap-[5px]">
            <div class="w-[1.9vw] h-[2.0vw]  bg-zinc-300 bg-opacity-80 rounded-full z-[3] flex items-center justify-center">
              <i class="far fa-heart text-[0.9vw] hover:text-[#ECE4E3] hover:text-[#820900]"></i>
            </div>
            <div class="relative z-[3] h-[100%] w-[100%] flex items-center justify-center">
              <div class="w-[2.1vw] h-[2.1vw] absolute bg-zinc-300 bg-opacity-80 rounded-full flex items-center justify-center">
                <i id="search-icon" class="fas fa-shopping-cart text-[0.9vw] hover:text-[#ECE4E3]"></i>
              </div>
            </div>
          </div>
        </div>
        <br>
      </a>
       <p class="w-full text-center">
         {{p. Content}}
       </p>
       <div>
        <span>{{p.Price}}</span>
       </div>
       <form action="#" method="post" class="Addcart  w-full bottom-100 left-0 opacity-0 p-4 rounded-lg transition-opacity duration-300 opacity-0 group-hover:opacity-100">
        <input type="hidden" name="id" id="#">
        <button type="submit" name="add" class="w-full border-2 border-black rounded-full font-semibold h-10 hover:bg-black hover:text-white text-[0.8vw]">
          Add To Cart
        </button>
      </form>
     </div>
    
 </div>
 <button class="slidebutton"  id='next-slide'>
  <i class='fas'>&#xf105;</i>
</button>
 </div>
</div>
<!-- NEW -->
<!-- Artist -->
<div id="Heading">
  <a href="#"><h1>BLOG</h1></a>
</div>
<br>
<br>
<div class="flex flex-col md:flex-row items-center justify-center gap-[7vw] md:gap-[5vw]  mb-[5vh] md:mb-[15vh] ml-[5vw] mr-[5vw]"> 
  <div class="items-center justify-center w-fit h-fit">
    <div class="flex items-center justify-center relative">
      <img src="http://localhost:4200/assets/img/image%207.png" alt="">
      <div class="content md:top-[74%] top-[80%] w-[90%] bg-zinc-300 rounded-lg shadow grid grid-rows-3 absolute text-[1.2vw] md:text-[0.5vw]">
        <div class="flex items-center justify-center">
          <p  class="text-justify">Hoang Thuy Linh scoops Best Asian Artist Vietnam title at MAMA 2019</p>
        </div>
        <div class="w-full flex items-center justify-center h-fit">
          <div class="w-[30%] h-[1px] border border-red-800 border-opacity-70"></div>
          <div class="w-[40%] h-fit bg-red-800 bg-opacity-70 rounded-3xl">
            <p class="text-white text-center">
              Jan 18th, 2020
            </p>
          </div>
          <div class="w-[30%] h-[1px] border border-red-800 border-opacity-70"></div>
        </div>
        <div>
          <p class="text-justify">Singer Hoang Thuy Linh was named Best Asian Artist Vietnam at South Korea's 2019 Mnet Asian Music Awards (MAMA 2019). Absent from the MAMA 2019 ceremony in Nagoya, Japan on December 4 […]</p>
        </div>
      </div>
    </div>
  </div>
  <div class="items-center justify-center w-fit h-fit">
    <div class="flex items-center justify-center relative">
      <img src="http://localhost:4200/assets/img/image%207.png" alt="">
      <div class="content md:top-[74%] top-[80%] w-[90%] bg-zinc-300 rounded-lg shadow grid grid-rows-3 absolute text-[1.2vw] md:text-[0.5vw]">
        <div class="flex items-center justify-center">
          <p  class="text-justify">Hoang Thuy Linh scoops Best Asian Artist Vietnam title at MAMA 2019</p>
        </div>
        <div class="w-full flex items-center justify-center h-fit">
          <div class="w-[30%] h-[1px] border border-red-800 border-opacity-70"></div>
          <div class="w-[40%] h-fit bg-red-800 bg-opacity-70 rounded-3xl">
            <p class="text-white text-center">
              Jan 18th, 2020
            </p>
          </div>
          <div class="w-[30%] h-[1px] border border-red-800 border-opacity-70"></div>
        </div>
        <div>
          <p class="text-justify">Singer Hoang Thuy Linh was named Best Asian Artist Vietnam at South Korea's 2019 Mnet Asian Music Awards (MAMA 2019). Absent from the MAMA 2019 ceremony in Nagoya, Japan on December 4 […]</p>
        </div>
      </div>
    </div>
  </div>
  <div class="items-center justify-center w-fit h-fit">
    <div class="flex items-center justify-center relative">
      <img src="http://localhost:4200/assets/img/image%207.png" alt="">
      <div class="content md:top-[74%] top-[80%] w-[90%] bg-zinc-300 rounded-lg shadow grid grid-rows-3 absolute text-[1.2vw] md:text-[0.5vw]">
        <div class="flex items-center justify-center">
          <p  class="text-justify">Hoang Thuy Linh scoops Best Asian Artist Vietnam title at MAMA 2019</p>
        </div>
        <div class="w-full flex items-center justify-center h-fit">
          <div class="w-[30%] h-[1px] border border-red-800 border-opacity-70"></div>
          <div class="w-[40%] h-fit bg-red-800 bg-opacity-70 rounded-3xl">
            <p class="text-white text-center">
              Jan 18th, 2020
            </p>
          </div>
          <div class="w-[30%] h-[1px] border border-red-800 border-opacity-70"></div>
        </div>
        <div>
          <p class="text-justify">Singer Hoang Thuy Linh was named Best Asian Artist Vietnam at South Korea's 2019 Mnet Asian Music Awards (MAMA 2019). Absent from the MAMA 2019 ceremony in Nagoya, Japan on December 4 […]</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="w-full text-center flex justify-center mb-[30px]">
  <a href="#"><div class="w-full h-full font-['Quicksand']  bg-[#D9D9D9] bg-opacity-90 rounded-md shadow border border-neutral-400">MORE BLOGS</div>
  </a>
</div>
<!-- BLOG -->
<!-- ABTUS -->
<div class="w-[80%] h-fit bg-zinc-300 bg-opacity-80 rounded-3xl border mx-auto md:mr-[10.6vw] md:ml-[10.6vw]">
  <div class="flex items-center justify-center">
    <div class="m-3 md:m-[30px] rounded-md overflow-hidden relative">
      <div class="m-3 md:m-[30px] rounded-md overflow-hidden">
        <div class="relative">
          <video autoplay loop muted class="h-[100%]">
            <source src="../../assets/Video/Explore the world of music..mp4">
          </video>
        </div>
      </div>
    </div>
    <div class="mb-3 mr-3 md:mb-[50px] md:mr-[50px]">
      <h1 class="text-center text-red-700 font-bold text-2xl md:text-[2vw]">
        ABOUT US
      </h1>
      <br>
      <p class="text-justify text-sm md:text-base">Rhythmix is a place where music enthusiasts can explore and shop for emotionally charged music products. When you visit the website, you will not only find music albums but also have the opportunity to appreciate the unique cover designs of each product. Each item is presented as its own work of art, with cover photos prominently displayed against a gray background, much like artworks showcased at an art exhibition.</p>
    </div>
  </div>
</div>
<!-- ABTUS -->
</div>
</div>
<!-- Main Contain -->
<br>
<br>
</div>
