<link rel="stylesheet" href="homepage.component.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<!-- HEADER -->
<div class="bg-BG h-[full] w-[full]  ">
<div class="sticky top-0 z-50	" id="header">
    <div class="bg-[#FAFDF2] w-[full] grid grid-cols-3 pr-[2vw] pl-[2vw]">
        <div class="flex items-center ">
            <p class="font-bold" >
                <i class="fas fa-user-circle ml-[1.75rem] mr-[1.75rem] hover:text-[#ECE4E3] "></i>
                <span class="mr-[10px]"><a href="#" class="hover:text-[#ECE4E3] ">Login</a></span> |
                <span class="ml-[10px]"><a href="#" class="hover:text-[#ECE4E3]">Sign up</a></span>
            </p>
        </div>
        <div class="max-w-[100%]">
            <div class="flex justify-center">
                <img src="../../assets/img/LOGO đỏ 1.png" alt="logo">
            </div>
        </div>
        <div class="flex content-center flex-row-reverse">
          <div class="flex content-center text-right mr-[1.75rem] mt-[20px] ml-[24px]">
            <div class="relative">
              <div class="flex justify-between">
                <div class="flex">
                  <form role="search" autocomplete="off" class="search focus:border-0 w-full border-0 flex" id="search">
                    <input type="search" name="q" value="" autocomplete="off" aria-autocomplete="list" autocorrect="off" aria-label="Search..." placeholder="Search..." class="bg-inherit border-b-2 focus:border-transparent focus:outline-none w-full text-black">
                  </form>
                  <i id="search-icon" class="fas fa-search hover:text-[#ECE4E3] flex cursor-pointer"></i>
                </div>
                <div class="flex justify-end">
                  <div id="search-container" class="flex items-center hidden transition-all duration-300 ease-in-out absolute top-7 right-0 ">
                    <div class="w-80  h-100% bg-zinc-300">
                    <div class="w-80 h-100% left-[0px] top-0 absolute bg-zinc-300">
                      <div class="w-80 h-px left-0 top-[0px] absolute border border-black"></div>
                <div class="grid grid-rows">
                  <div class="grid grid-cols-2 border-b-2	border-black  ">
                    <img src="../../assets/img/CHROMATICACD_1024x1024.webp" alt="">
                    <div class="flex flex-col items-center justify-left text-left mt-[20px]">
                      <p>Chromatica - CD</p>
                      <br>
                      <p>499,000 VND</p>
                      <br>
                      <p>Lady GaGa</p>
                    </div>
                  </div>
                </div>
                <div class="Line24 w-80 h-px left-0 bottom-[0px] absolute border border-neutral-500"></div>
                    </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <i class="fas fa-shopping-cart hover:text-[#ECE4E3] ml-[45px] mt-[3px]"></i>
          </div>
        </div>
    </div>
<!-- HEADER -->
<!-- MENU -->
<nav class="mx-auto flex w-full md:bg-[#757575] p-3 lg:px-5 h-[57px]" aria-label="Global">
    <div class="w-full block flex-grow lg:flex lg:items-center lg:w-auto justify-center ">
      <a href="#responsive-header" class="block lg:inline-block lg:mt-0 text-white hover:text-black mr-8 font-semibold  hover:bg-[white] bg-contain ">
        Home
      </a>
      
      <a href="#responsive-header" class="block lg:inline-block lg:mt-0 text-white hover:text-black mr-8 font-semibold">
        About Us
      </a>
      <div class="group relative cursor-pointer  font-semibold text-white hover:text-black py-1">
        <div class="flex items-center justify-between space-x-5  px-4 hover:bg-[white]">
          <a
            class="menu-hover my-2 py-1 text-base lg:mx-4"
            onClick=""
          >
            Category
          </a>
          <span>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="h-6 w-6"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M19.5 8.25l-7.5 7.5-7.5-7.5"
              />
            </svg>
          </span>
        </div>
        <div
          class="invisible absolute z-100 flex w-full flex-col bg-[#757575] py-1 px-4 text-white shadow-xl group-hover:visible"
          onClick=""
        >
          <a
            class="my-2 block border-b border-gray-100 py-1 font-semibold text-white hover:text-black md:mx-2"
            >CD</a
          >
      
          <a
            class="my-2 block border-b border-gray-100 py-1 font-semibold text-white hover:text-black md:mx-2"
            >Vinyl</a
          >
          <a
            class="my-2 block border-b border-gray-100 py-1 font-semibold text-white hover:text-black md:mx-2"
            >Cassette
          </a>
        </div>
      </div>
 
      <a href="#responsive-header" class="block lg:inline-block lg:mt-0 text-white hover:text-black font-semibold ml-8">
        Blog
      </a>
      <a href="#responsive-header" class="block lg:inline-block lg:mt-0 text-white hover:text-black font-semibold ml-8">
        Contact Us
      </a>
    </div>
  </nav>
</div>
<!-- MENU -->
<div>
  <div class="maincontent">
<!-- BANNER1 -->
<div class="flex justify-center items-center relative mb-[7%]">
  <img class=" w-[100%]" src=".//src/assets/img/BANNER_HOMEPAGE 1.png" />
  <div id="bannertb" class="grid grid-cols-4 w-[80%] top[90%] h-fit-content absolute bg-gray-300 bg-opacity-90 shadow-md rounded-lg border border-gray-400 mt-[31%] p-[20px]">
    <div class="grid grid-rows-3">
      <div class="flex items-center justify-center  text-[2.25vw] ">
        <i class="fas">&#xf0d1;</i>
      </div>
      <div class="flex items-center justify-center text-[1vw]">
        <p>
          <b>Nationwide Delivery</b>
        </p>
      </div>
      <div class="flex items-center justify-center  text-[1vw]">
        <p>Free shipping with orders<br>
          worth over 2,000,000 VND</p>
      </div>
    </div>
    <div class="grid grid-rows-3 ">
      <div class="flex items-center justify-center   text-[2.25vw]">
        <i class="fas">&#xf0d1;</i>
      </div>
      <div class="flex items-center justify-center text-[1vw]">
        <p>
          <b>Nationwide Delivery</b>
        </p>
      </div>
      <div class="flex items-center justify-center  text-[1vw]">
        <p>Free shipping with orders<br>
          worth over 2,000,000 VND</p>
      </div>
    </div>
    <div class="grid grid-rows-3 ">
      <div class="flex items-center justify-center  text-[2.25vw]">
        <i class="fas">&#xf0d1;</i>
      </div>
      <div class="flex items-center justify-center text-[1vw]">
        <p>
          <b>Nationwide Delivery</b>
        </p>
      </div>
      <div class="flex items-center justify-center  text-[1vw]">
        <p>Free shipping with orders<br>
          worth over 2,000,000 VND</p>
      </div>
    </div>
    <div class="grid grid-rows-3 ">
      <div class="flex items-center justify-center  text-[2.25vw]">
        <i class="fas">&#xf0d1;</i>
      </div>
      <div class="flex items-center justify-center text-[1vw]">
        <p>
          <b>Nationwide Delivery</b>
        </p>
      </div>
      <div class="flex items-center justify-center  text-[1vw]">
        <p>Free shipping with orders<br>
          worth over 2,000,000 VND</p>
      </div>
    </div>
  </div>
</div>
<!-- BANNER1 -->
<!-- Main Cotain -->

<!-- SALE --> 
<div>
<div id="Heading">   
  <a href="#"><h1>SALE</h1></a>
</div>
<br>
<br>
<div class="Chứa">
  <div class="slide">
   <button class="slidebutton"  id='prev-slide'>
     <i class='fas'>&#xf104;</i>
   </button>
   <div class="dsa uppercase font-semibold	items-top">
     <div class="T1 group relative" *ngFor="let p of products">
      <a href="#" class="h-full">
        <div class="image-wrapper relative">
          <img src="{{p.TrendingI}}" class="absolute" alt="">
          <img class="hoverimg absolute" src="{{p.HoverTI}}" alt="hình">
          <div class="grid grid-rows-2 absolute end-0 top-[5px] items-center justify-center w-[20%] h-[30%] gap-[5px]">
            <div class="w-[1.9vw] h-[2.0vw]  bg-zinc-300 bg-opacity-80 rounded-full z-[3] flex items-center justify-center">
              <i class="far fa-heart text-[0.9vw] hover:text-[#ECE4E3] hover:text-[#820900]"></i>
            </div>
            <div class="relative z-[3] h-[100%] w-[100%] flex items-center justify-center">
              <div class="w-[2.1vw] h-[2.1vw] absolute bg-zinc-300 bg-opacity-80 rounded-full flex items-center justify-center">
                <i id="search-icon" class="fas fa-shopping-cart text-[0.9vw] hover:text-[#ECE4E3]"></i>
              </div>
            </div>
          </div>
          <div class="h-[30px] top-0 left-[2%] w-2vw absolute text-center text-white text-xs font-bold font-['Quicksand'] leading-none bg-red-900 rounded-t-[6px]" style="clip-path: polygon(100% 43.8%, 100% 100%, 50.49% 59.8%, 0% 100%, 0% 43.8%, 0% 0%, 100% 0%); z-index: 3;">

            <p class="text-[15px] mt-[2px]">{{p.Promotion}}</p>
          </div>
        </div>
        <br>
      </a>
       <p class="w-full text-center">
         {{p. Content}}
       </p>
       <div>
        <span class="text-[#CE0001] text-[14px]"><b>{{p.CurrentPrice  }} VND</b></span>   &nbsp;  <del class="text-[12px] opacity-[50%]"> {{p.Price}} </del>    
       </div>
       <div>
 
       </div>
       <form action="#" method="post" class="Addcart  w-full bottom-100 left-0 opacity-0 p-4 rounded-lg transition-opacity duration-300 opacity-0 group-hover:opacity-100">
         <input type="hidden" name="id" id="#">
         <button type="submit" name="add" class="w-full border-2 border-black rounded-full font-semibold h-10 hover:bg-black hover:text-white text-[0.8vw]">
           Add To Cart
         </button>
       </form>
     </div>
 
  </div>
 
  <button class="slidebutton"  id='next-slide'>
   <i class='fas'>&#xf105;</i>
 </button>
  </div>
 </div>
</div>
<!-- SALE  -->
<!-- CATE -->
<div class="z-0">
  <div id="Heading"  >   
    <a href="#"><h1>OUR PRODUCT</h1></a>
  </div>
  <br>
  <br>
  <div class="flex items-center justify-center  gap-[5vw]  mb-[8vh] ml-[5vw] mr-[5vw] text-[1.12vw]">
    <a href="#">
    <div class="items-center justify-center w-fit h-fit">
      <div class="flex items-center justify-center relative">
        <img src="http://localhost:4200/assets/img/image%207.png" alt="">
        <div class=" h-[35px] top-[88.4%] w-[100%] h-fit bg-stone-300 bg-opacity-80 shadow absolute">
          <div class=" flex items-center justify-center h-full text-white font-bold	">
            CASSETE
          </div>
        </div>
      </div>
    </div>
  </a>
  <a href="#">
    <div class="items-center justify-center w-fit h-fit">
      <div class="flex items-center justify-center relative">
        <img src="http://localhost:4200/assets/img/image%207.png" alt="">
        <div class=" h-[35px] top-[88.4%] w-[100%] h-fit bg-stone-300 bg-opacity-80 shadow absolute">
          <div class=" flex items-center justify-center h-full text-white font-bold	">
            CD
          </div>
        </div>
      </div>
    </div>
  </a>
  <a href="#">
    <div class="items-center justify-center w-fit h-fit">
      <div class="flex items-center justify-center relative">
        <img src="http://localhost:4200/assets/img/image%207.png" alt="">
        <div class=" h-[35px] top-[88.4%] w-[100%] h-fit bg-stone-300 bg-opacity-80 shadow absolute">
          <div class=" flex items-center justify-center h-full text-white font-bold	">
            VINYL
          </div>
        </div>
      </div>
    </div>
  </a>
  </div>
<!-- CATE -->
<!-- TREDING -->
<div id="Heading">   
  <a href="#"><h1>TRENDING</h1></a>
</div>
<br>
<br>
<div class="Chứa">
 <div class="slide1">
  <button class="slidebutton"  id='prev-slide'>
    <i class='fas'>&#xf104;	</i>
  </button>
  <div class="dsb uppercase font-semibold">
    <div class="T1 group relative" *ngFor="let p of products">
      <a href="#" class="h-full">
        <div class="image-wrapper relative">
          <img src="{{p.TrendingI}}" class="absolute" alt="">
          <img class="hoverimg absolute" src="{{p.HoverTI}}" alt="hình">
          <div class="grid grid-rows-2 absolute end-0 top-[5px] items-center justify-center w-[20%] h-[30%] gap-[5px]">
            <div class="w-[1.9vw] h-[2.0vw]  bg-zinc-300 bg-opacity-80 rounded-full z-[3] flex items-center justify-center">
              <i class="far fa-heart text-[0.9vw] hover:text-[#ECE4E3] hover:text-[#820900]"></i>
            </div>
            <div class="relative z-[3] h-[100%] w-[100%] flex items-center justify-center">
              <div class="w-[2.1vw] h-[2.1vw] absolute bg-zinc-300 bg-opacity-80 rounded-full flex items-center justify-center">
                <i id="search-icon" class="fas fa-shopping-cart text-[0.9vw] hover:text-[#ECE4E3]"></i>
              </div>
            </div>
          </div>
        </div>
        <br>
      </a>
       <p class="w-full text-center">
         {{p. Content}}
       </p>
       <div>
        <span>{{p.Price}}</span>
       </div>
       <form action="#" method="post" class="Addcart  w-full bottom-100 left-0 opacity-0 p-4 rounded-lg transition-opacity duration-300 opacity-0 group-hover:opacity-100">
        <input type="hidden" name="id" id="#">
        <button type="submit" name="add" class="w-full border-2 border-black rounded-full font-semibold h-10 hover:bg-black hover:text-white text-[0.8vw]">
          Add To Cart
        </button>
      </form>
     </div>
 </div>

 <button class="slidebutton"  id='next-slide'>
  <i class='fas'>&#xf105;	</i>
</button>
 </div>
</div>
<!-- TREDNING -->
<!-- NEW -->

<div id="Heading">   
  <a href="#"><h1>NEW</h1></a>
</div>
<br>
<br>
<div class="Chứa">
 <div class="slide2">
  <button class="slidebutton"  id='prev-slide'>
    <i class='fas'>&#xf104;</i>
  </button>
  <div class="dsn uppercase font-semibold">
    <div class="T1 group relative" *ngFor="let p of products">
      <a href="#" class="h-full">
        <div class="image-wrapper relative">
          <img src="{{p.TrendingI}}" class="absolute" alt="">
          <img class="hoverimg absolute" src="{{p.HoverTI}}" alt="hình">
          <div class="grid grid-rows-2 absolute end-0 top-[5px] items-center justify-center w-[20%] h-[30%] gap-[5px]">
            <div class="w-[1.9vw] h-[2.0vw]  bg-zinc-300 bg-opacity-80 rounded-full z-[3] flex items-center justify-center">
              <i class="far fa-heart text-[0.9vw] hover:text-[#ECE4E3] hover:text-[#820900]"></i>
            </div>
            <div class="relative z-[3] h-[100%] w-[100%] flex items-center justify-center">
              <div class="w-[2.1vw] h-[2.1vw] absolute bg-zinc-300 bg-opacity-80 rounded-full flex items-center justify-center">
                <i id="search-icon" class="fas fa-shopping-cart text-[0.9vw] hover:text-[#ECE4E3]"></i>
              </div>
            </div>
          </div>
        </div>
        <br>
      </a>
       <p class="w-full text-center">
         {{p. Content}}
       </p>
       <div>
        <span>{{p.Price}}</span>
       </div>
       <form action="#" method="post" class="Addcart  w-full bottom-100 left-0 opacity-0 p-4 rounded-lg transition-opacity duration-300 opacity-0 group-hover:opacity-100">
        <input type="hidden" name="id" id="#">
        <button type="submit" name="add" class="w-full border-2 border-black rounded-full font-semibold h-10 hover:bg-black hover:text-white text-[0.8vw]">
          Add To Cart
        </button>
      </form>
     </div>
    
 </div>
 <button class="slidebutton"  id='next-slide'>
  <i class='fas'>&#xf105;</i>
</button>
 </div>
</div>
<!-- NEW -->
<!-- Artist -->
<div id="Heading">
  <a href="#"><h1>BLOG</h1></a>
</div>
<br>
<br>
<div class="flex flex-col md:flex-row items-center justify-center gap-[7vw] md:gap-[5vw]  mb-[5vh] md:mb-[15vh] ml-[5vw] mr-[5vw]"> 
  <div class="items-center justify-center w-fit h-fit">
    <div class="flex items-center justify-center relative">
      <img src="http://localhost:4200/assets/img/image%207.png" alt="">
      <div class="content md:top-[74%] top-[80%] w-[90%] bg-zinc-300 rounded-lg shadow grid grid-rows-3 absolute text-[1.2vw] md:text-[0.5vw]">
        <div class="flex items-center justify-center">
          <p  class="text-justify">Hoang Thuy Linh scoops Best Asian Artist Vietnam title at MAMA 2019</p>
        </div>
        <div class="w-full flex items-center justify-center h-fit">
          <div class="w-[30%] h-[1px] border border-red-800 border-opacity-70"></div>
          <div class="w-[40%] h-fit bg-red-800 bg-opacity-70 rounded-3xl">
            <p class="text-white text-center">
              Jan 18th, 2020
            </p>
          </div>
          <div class="w-[30%] h-[1px] border border-red-800 border-opacity-70"></div>
        </div>
        <div>
          <p class="text-justify">Singer Hoang Thuy Linh was named Best Asian Artist Vietnam at South Korea's 2019 Mnet Asian Music Awards (MAMA 2019). Absent from the MAMA 2019 ceremony in Nagoya, Japan on December 4 […]</p>
        </div>
      </div>
    </div>
  </div>
  <div class="items-center justify-center w-fit h-fit">
    <div class="flex items-center justify-center relative">
      <img src="http://localhost:4200/assets/img/image%207.png" alt="">
      <div class="content md:top-[74%] top-[80%] w-[90%] bg-zinc-300 rounded-lg shadow grid grid-rows-3 absolute text-[1.2vw] md:text-[0.5vw]">
        <div class="flex items-center justify-center">
          <p  class="text-justify">Hoang Thuy Linh scoops Best Asian Artist Vietnam title at MAMA 2019</p>
        </div>
        <div class="w-full flex items-center justify-center h-fit">
          <div class="w-[30%] h-[1px] border border-red-800 border-opacity-70"></div>
          <div class="w-[40%] h-fit bg-red-800 bg-opacity-70 rounded-3xl">
            <p class="text-white text-center">
              Jan 18th, 2020
            </p>
          </div>
          <div class="w-[30%] h-[1px] border border-red-800 border-opacity-70"></div>
        </div>
        <div>
          <p class="text-justify">Singer Hoang Thuy Linh was named Best Asian Artist Vietnam at South Korea's 2019 Mnet Asian Music Awards (MAMA 2019). Absent from the MAMA 2019 ceremony in Nagoya, Japan on December 4 […]</p>
        </div>
      </div>
    </div>
  </div>
  <div class="items-center justify-center w-fit h-fit">
    <div class="flex items-center justify-center relative">
      <img src="http://localhost:4200/assets/img/image%207.png" alt="">
      <div class="content md:top-[74%] top-[80%] w-[90%] bg-zinc-300 rounded-lg shadow grid grid-rows-3 absolute text-[1.2vw] md:text-[0.5vw]">
        <div class="flex items-center justify-center">
          <p  class="text-justify">Hoang Thuy Linh scoops Best Asian Artist Vietnam title at MAMA 2019</p>
        </div>
        <div class="w-full flex items-center justify-center h-fit">
          <div class="w-[30%] h-[1px] border border-red-800 border-opacity-70"></div>
          <div class="w-[40%] h-fit bg-red-800 bg-opacity-70 rounded-3xl">
            <p class="text-white text-center">
              Jan 18th, 2020
            </p>
          </div>
          <div class="w-[30%] h-[1px] border border-red-800 border-opacity-70"></div>
        </div>
        <div>
          <p class="text-justify">Singer Hoang Thuy Linh was named Best Asian Artist Vietnam at South Korea's 2019 Mnet Asian Music Awards (MAMA 2019). Absent from the MAMA 2019 ceremony in Nagoya, Japan on December 4 […]</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="w-full text-center flex justify-center mb-[30px]">
  <a href="#"><div class="w-full h-full font-['Quicksand']  bg-[#D9D9D9] bg-opacity-90 rounded-md shadow border border-neutral-400">MORE BLOGS</div>
  </a>
</div>
<!-- BLOG -->
<!-- ABTUS -->
<div class="w-[80%] h-fit bg-zinc-300 bg-opacity-80 rounded-3xl border mx-auto md:mr-[10.6vw] md:ml-[10.6vw]">
  <div class="flex items-center justify-center">
    <div class="m-3 md:m-[30px] rounded-md overflow-hidden relative">
      <div class="m-3 md:m-[30px] rounded-md overflow-hidden">
        <div class="relative">
          <video autoplay loop muted class="h-[100%]">
            <source src="../../assets/Video/Explore the world of music..mp4">
          </video>
        </div>
      </div>
    </div>
    <div class="mb-3 mr-3 md:mb-[50px] md:mr-[50px]">
      <h1 class="text-center text-red-700 font-bold text-2xl md:text-[2vw]">
        ABOUT US
      </h1>
      <br>
      <p class="text-justify text-sm md:text-base">Rhythmix is a place where music enthusiasts can explore and shop for emotionally charged music products. When you visit the website, you will not only find music albums but also have the opportunity to appreciate the unique cover designs of each product. Each item is presented as its own work of art, with cover photos prominently displayed against a gray background, much like artworks showcased at an art exhibition.</p>
    </div>
  </div>
</div>
<!-- ABTUS -->
</div>
</div>
<!-- Main Contain -->
<br>
<br>

<footer class="md:bg-[#757575] dark:bg-gray-900">
  <div class="mx-auto w-full max-w-screen-xl p-4 py-6 lg:py-8">
      <div class="md:flex md:justify-between">
        <div class="mb-6 mt-6  md:mb-0 md:justify-start">
            <a href="https://flowbite.com/" class="flex items-center ">
                <img src="../../assets/img/LOGO đỏ 1.png"  alt="FlowBite Logo" />
            </a>
        </div>
        <div class="grid grid-cols-2 gap-8 sm:gap-6 sm:grid-cols-3">
            <div>
                <h2 class="mb-6 text-sm font-semibold text-gray-900 uppercase dark:text-white">INFORMATIONS</h2>
                <ul class="text-white font-semibold">
                    <li class="mb-4">
                        <a href="https://flowbite.com/" class="hover:underline">Contact</a>
                    </li>
                    <li>
                        <a href="https://tailwindcss.com/" class="hover:underline">FAQs</a>
                    </li>
                </ul>
            </div>
            <div>
                <h2 class="mb-6 text-sm font-semibold text-white uppercase dark:text-white">HELP</h2>
                <ul class="text-white font-semibold">
                    <li class="mb-4">
                        <a href="https://github.com/themesberg/flowbite" class="hover:underline ">Terms of service</a>
                    </li>
                    <li class="mb-4">
                        <a href="https://discord.gg/4eeurUVvTy" class="hover:underline">Privacy policy</a>
                    </li>
                    <li class="mb-4">
                      <a href="https://discord.gg/4eeurUVvTy" class="hover:underline">Return policy</a>
                  </li>
                  <li>
                    <a href="https://discord.gg/4eeurUVvTy" class="hover:underline">Shipping policy</a>
                </li>
                </ul>
            </div>
            <div>
                <h2 class="mb-6 text-sm font-semibold text-white ">DISCOVER RHYTHMIX</h2>
                <ul class="text-white font-semibold">
                    <li class="mb-4">
                        <a href="#" class="hover:underline">CD</a>
                    </li>
                    <li class="mb-4">
                      <a href="#" class="hover:underline">Vinyl</a>
                  </li>
                    <li>
                        <a href="#" class="hover:underline">Cassette</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
  </div>
    <div class="sm:flex sm:items-center sm:justify-between w-full max-w-screen bg-white">
        <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400">© 2023 <a href="https://flowbite.com/" class="hover:underline">Flowbite™</a>. All Rights Reserved.
        </span>
        <div class="flex mt-4 space-x-5 sm:justify-center sm:mt-0">
            <a href="#" class="text-gray-500 hover:text-gray-900 dark:hover:text-white">
                <svg class="w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 8 19">
                      <path fill-rule="evenodd" d="M6.135 3H8V0H6.135a4.147 4.147 0 0 0-4.142 4.142V6H0v3h2v9.938h3V9h2.021l.592-3H5V3.591A.6.6 0 0 1 5.592 3h.543Z" clip-rule="evenodd"/>
                  </svg>
                <span class="sr-only">Facebook page</span>
            </a>
            <a href="#" class="text-gray-500 hover:text-gray-900 dark:hover:text-white">
                <svg class="w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 21 16">
                      <path d="M16.942 1.556a16.3 16.3 0 0 0-4.126-1.3 12.04 12.04 0 0 0-.529 1.1 15.175 15.175 0 0 0-4.573 0 11.585 11.585 0 0 0-.535-1.1 16.274 16.274 0 0 0-4.129 1.3A17.392 17.392 0 0 0 .182 13.218a15.785 15.785 0 0 0 4.963 2.521c.41-.564.773-1.16 1.084-1.785a10.63 10.63 0 0 1-1.706-.83c.143-.106.283-.217.418-.33a11.664 11.664 0 0 0 10.118 0c.137.113.277.224.418.33-.544.328-1.116.606-1.71.832a12.52 12.52 0 0 0 1.084 1.785 16.46 16.46 0 0 0 5.064-2.595 17.286 17.286 0 0 0-2.973-11.59ZM6.678 10.813a1.941 1.941 0 0 1-1.8-2.045 1.93 1.93 0 0 1 1.8-2.047 1.919 1.919 0 0 1 1.8 2.047 1.93 1.93 0 0 1-1.8 2.045Zm6.644 0a1.94 1.94 0 0 1-1.8-2.045 1.93 1.93 0 0 1 1.8-2.047 1.918 1.918 0 0 1 1.8 2.047 1.93 1.93 0 0 1-1.8 2.045Z"/>
                  </svg>
                <span class="sr-only">Discord community</span>
            </a>
            <a href="#" class="text-gray-500 hover:text-gray-900 dark:hover:text-white">
                <svg class="w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 17">
                  <path fill-rule="evenodd" d="M20 1.892a8.178 8.178 0 0 1-2.355.635 4.074 4.074 0 0 0 1.8-2.235 8.344 8.344 0 0 1-2.605.98A4.13 4.13 0 0 0 13.85 0a4.068 4.068 0 0 0-4.1 4.038 4 4 0 0 0 .105.919A11.705 11.705 0 0 1 1.4.734a4.006 4.006 0 0 0 1.268 5.392 4.165 4.165 0 0 1-1.859-.5v.05A4.057 4.057 0 0 0 4.1 9.635a4.19 4.19 0 0 1-1.856.07 4.108 4.108 0 0 0 3.831 2.807A8.36 8.36 0 0 1 0 14.184 11.732 11.732 0 0 0 6.291 16 11.502 11.502 0 0 0 17.964 4.5c0-.177 0-.35-.012-.523A8.143 8.143 0 0 0 20 1.892Z" clip-rule="evenodd"/>
              </svg>
                <span class="sr-only">Twitter page</span>
            </a>
            <a href="#" class="text-gray-500 hover:text-gray-900 dark:hover:text-white">
                <svg class="w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                      <path fill-rule="evenodd" d="M10 .333A9.911 9.911 0 0 0 6.866 19.65c.5.092.678-.215.678-.477 0-.237-.01-1.017-.014-1.845-2.757.6-3.338-1.169-3.338-1.169a2.627 2.627 0 0 0-1.1-1.451c-.9-.615.07-.6.07-.6a2.084 2.084 0 0 1 1.518 1.021 2.11 2.11 0 0 0 2.884.823c.044-.503.268-.973.63-1.325-2.2-.25-4.516-1.1-4.516-4.9A3.832 3.832 0 0 1 4.7 7.068a3.56 3.56 0 0 1 .095-2.623s.832-.266 2.726 1.016a9.409 9.409 0 0 1 4.962 0c1.89-1.282 2.717-1.016 2.717-1.016.366.83.402 1.768.1 2.623a3.827 3.827 0 0 1 1.02 2.659c0 3.807-2.319 4.644-4.525 4.889a2.366 2.366 0 0 1 .673 1.834c0 1.326-.012 2.394-.012 2.72 0 .263.18.572.681.475A9.911 9.911 0 0 0 10 .333Z" clip-rule="evenodd"/>
                </svg>
                <span class="sr-only">GitHub account</span>
            </a>
            <a href="#" class="text-gray-500 hover:text-gray-900 dark:hover:text-white">
                <svg class="w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                  <path fill-rule="evenodd" d="M10 0a10 10 0 1 0 10 10A10.009 10.009 0 0 0 10 0Zm6.613 4.614a8.523 8.523 0 0 1 1.93 5.32 20.094 20.094 0 0 0-5.949-.274c-.059-.149-.122-.292-.184-.441a23.879 23.879 0 0 0-.566-1.239 11.41 11.41 0 0 0 4.769-3.366ZM8 1.707a8.821 8.821 0 0 1 2-.238 8.5 8.5 0 0 1 5.664 2.152 9.608 9.608 0 0 1-4.476 3.087A45.758 45.758 0 0 0 8 1.707ZM1.642 8.262a8.57 8.57 0 0 1 4.73-5.981A53.998 53.998 0 0 1 9.54 7.222a32.078 32.078 0 0 1-7.9 1.04h.002Zm2.01 7.46a8.51 8.51 0 0 1-2.2-5.707v-.262a31.64 31.64 0 0 0 8.777-1.219c.243.477.477.964.692 1.449-.114.032-.227.067-.336.1a13.569 13.569 0 0 0-6.942 5.636l.009.003ZM10 18.556a8.508 8.508 0 0 1-5.243-1.8 11.717 11.717 0 0 1 6.7-5.332.509.509 0 0 1 .055-.02 35.65 35.65 0 0 1 1.819 6.476 8.476 8.476 0 0 1-3.331.676Zm4.772-1.462A37.232 37.232 0 0 0 13.113 11a12.513 12.513 0 0 1 5.321.364 8.56 8.56 0 0 1-3.66 5.73h-.002Z" clip-rule="evenodd"/>
              </svg>
                <span class="sr-only">Dribbble account</span>
            </a>
        </div>
    </div>
</footer>
</div>
