<html>
    <header>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    </header>
    <body class="bg-BG">
        <h1>{{errMessage}}</h1>
        <!-- đường dẫn -->
        <!-- <div class="font-Regular">
            <div>
                <img src="../../assets/product-image/banner-blog.jpg" alt="">
                       
            <div class="container w-full -mt-16">
                <p>
                    Home &gt; All products
                </p>
            </div>
        </div> 
        </div> -->
        <!-- <div class="flex items-center justify-center  gap-[5vw]  mb-[8vh] ml-[5vw] mr-[5vw] text-[1.12vw]"> -->
            <a href="#">
            <div class="items-center justify-center w-fit h-fit">
              <div class="flex items-center justify-center relative">
                <div class="bg-opacity-100 bg-black ">
                    <img src="../../assets/product-image/wallpaperflare-cropped.jpg" class="w-screen opacity-60 h-50" alt="All products">
                </div>
                <div class=" h-[25%] top-[55%] w-[100%]  bg-opacity-80 shadow absolute tracking-widest">
                  <div class=" items-start justify-start h-full text-white text-4xl font-Header ml-14">
                    PRODUCTS
                    <div class="text-white text-lg font-Regular pt-3">
                            <a routerLink="/">Homepage</a> *  All products
                      </div>
                  </div>
                </div>
              </div>
            </div>
          </a>
          <br>
        <!-- cột category bên trái -->
        <div class="flex font-Regular text-sm mx-10">
            <!-- cố định cột trái -->
            <div id="mobile-only" class="mx-5 w-1/4 sticky top-0 overflow-y-auto h-screen"> 
                <p class="font-Header text-red-700 uppercase text-2xl tracking-wider cursor-pointer" (click)="clearFilter()">
                    categories
                </p>
                <!-- <ul class="bg-gray-100 bg-opacity-60 border-collapse rounded-xl text-center mt-2 tracking-widest">
                    <li *ngFor="let category of listcategory" (click)="selectCategory(category)" class=" cursor-pointer">
                      {{ category }}
                    </li>
                </ul> -->
    
                <ul class="bg-gray-100 bg-opacity-70 rounded-xl p-2 mt-2" >
                    <ng-container *ngFor="let category of listcategory; let last = last" class="flex justify-center items-center">
                        <li class="cursor-pointer" (click)="selectCategory(category)">
                            <a routerLink="#" class="block text-center p-3 text-base tracking-widest">{{ category }}</a>
                        </li>
                        <li *ngIf="!last" class="border-gray-400 ">
                            <hr class="mx-auto my-0">
                        </li>
                    </ng-container>
                </ul>
                <br><br>
                <!-- playlist -->
                <p class="font-Header text-red-700 uppercase text-2xl tracking-wider">PLAY NOW</p>
                <iframe class="w-full h-1/2" src="https://open.spotify.com/embed/playlist/5vDKPLPWPqimXA1G1rKNF2?utm_source=generator&theme=0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
            </div>
            <!-- list all products -->
            <div class="ml-5 w-screen">
                <div class="flex items-start">
                    <label class="font-Header text-red-700 uppercase text-3xl tracking-wider cursor-pointer ml-[34px]" (click)="clearFilter()">
                        All products
                    </label>
                    <!-- Search by Artist -->
                    <div class="ml-auto">
                        <input type="text" name="search" [(ngModel)]="searchText"  placeholder="Search Artist here" class="mx-2 p-2 border border-gray-300 rounded w-80">
                    </div>
                </div>  
            
                <!-- hiển thị tất cả sản phẩm ở đây -->
                  
                <div class="Product flex flex-wrap font-bold uppercase text-center">                        
                    <div *ngFor='let product of products.slice(0, startIndex + pageSize) 
                                | list:selectedCategory 
                                | filter: searchText' class="my-4 mx-2">
                      <div class="flex items-center justify-center flex-col">
                        <img class="img-resize w-[183px] h-[183px] bg-white" src="../../assets/product-image/{{ product.Image }}" alt="{{ product.Name }}">
                        <p class="mt-2">{{ product.Artist }} - {{ product.Name }} - {{ product.category }}</p>                        
                        <hr class="w-1/2  border-gray-400 m-2">
                        <p>{{ product.UnitPrice }}</p>
                        <form action="#" method="post" class="w-full border-black border-solid rounded-2xl py-2">
                          <input type="hidden" name="id" id="#">
                          <button type="submit" name="add" class="cart-resize bg-slate-400 bg-opacity-40 text-black py-2 px-10 rounded-full hover:bg-red-700 focus:outline-none focus:shadow-outline-blue">
                            Add To Cart
                          </button>
                        </form>
                      </div>
                    </div>
                  </div>

                <!-- Hieern thi nut xem them san pham -->
                <div class="flex items-center justify-center">
                    <button *ngIf="startIndex + pageSize < products.length" (click)="loadMore()" class="bg-slate-400 hover:bg-red-700 text-black font-bold rounded-full w-56 h-10 uppercase my-3">More products</button>
                </div>
            </div>
        </div>
    </body>
</html>