
    <h1 class="font-Header text-3xl">ACCOUNT INFORMATION</h1>
    <table class="my-5">
        <tr>
            <td class="text-gray-700">Name:</td>
            <td class="pl-20">Hang Le</td>
        </tr>
        <tr>
            <td class="text-gray-700 py-1">Email:</td>
            <td class="pl-20">hangltc21406c&#64;st.uel.edu.vn</td> <!--&#64; là @-->
        </tr>
        <tr>
            <td class="text-gray-700  py-1">Address:</td>
            <td class="pl-20">26  Dinh Quang An, Dong Nai province</td>
        </tr>
        <tr>
            <td class="text-gray-700 py-1">Date of birth:</td>
            <td class="pl-20">August 17, 2023</td>
        </tr>
        <tr>
            <td class="text-gray-700 py-1">Phone number:</td>
            <td class="pl-20">0364494063</td>
        </tr>
    </table>

