<nav class="mx-auto flex w-full md:bg-[#757575] p-3 lg:px-5 h-[57px]" aria-label="Global">
    <div class="w-full block flex-grow lg:flex lg:items-center lg:w-auto justify-center ">
      <a href="#responsive-header" class="block lg:inline-block lg:mt-0 text-white hover:text-black mr-8 font-semibold  hover:bg-[white] bg-contain ">
        Home
      </a>
      
      <a href="#responsive-header" class="block lg:inline-block lg:mt-0 text-white hover:text-black mr-8 font-semibold">
        About Us
      </a>
      <div class="group relative cursor-pointer  font-semibold text-white hover:text-black py-1">
        <div class="flex items-center justify-between space-x-5  px-4 hover:bg-[white]">
          <a
            class="menu-hover my-2 py-1 text-base lg:mx-4"
            onClick=""
          >
            Category
          </a>
          <span>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="h-6 w-6"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M19.5 8.25l-7.5 7.5-7.5-7.5"
              />
            </svg>
          </span>
        </div>
        <div
          class="invisible absolute z-100 flex w-full flex-col bg-[#757575] py-1 px-4 text-white shadow-xl group-hover:visible"
          onClick=""
        >
          <a
            class="my-2 block border-b border-gray-100 py-1 font-semibold text-white hover:text-black md:mx-2"
            >CD</a
          >
      
          <a
            class="my-2 block border-b border-gray-100 py-1 font-semibold text-white hover:text-black md:mx-2"
            >Vinyl</a
          >
          <a
            class="my-2 block border-b border-gray-100 py-1 font-semibold text-white hover:text-black md:mx-2"
            >Cassette
          </a>
        </div>
      </div>
 
      <a href="#responsive-header" class="block lg:inline-block lg:mt-0 text-white hover:text-black font-semibold ml-8">
        Blog
      </a>
      <a href="#responsive-header" class="block lg:inline-block lg:mt-0 text-white hover:text-black font-semibold ml-8">
        Contact Us
      </a>
    </div>
  </nav>
