<!-- <router-outlet></router-outlet> -->
<!-- <app-aboutus></app-aboutus> -->
<!-- <app-acc-info></app-acc-info> -->
<!-- <app-account></app-account> -->
<!-- <app-blog-detail></app-blog-detail> -->
<!-- <app-cart></app-cart> -->
<!-- <app-contactus></app-contactus> -->
<!-- <app-footer></app-footer> -->
<!-- <app-header></app-header> -->
<!-- <app-homepage></app-homepage> -->
<!-- <app-list-product></app-list-product> -->
<!-- <app-login></app-login> -->
<!-- <app-menu></app-menu> -->
<!-- <app-ord-complete-page></app-ord-complete-page> -->
<!-- <app-payment></app-payment> -->
<!-- <app-signup></app-signup> -->

<!-- header -->
<div class="bg-BG h-[full] w-[full] font-Regular ">
    <div class="sticky top-0 z-50">
        <app-header ></app-header>
        <app-menu></app-menu>
    </div>
    <router-outlet></router-outlet>
    <app-footer></app-footer>   
</div>

