<html>
    <header>
        <title>All Products</title>
                <!--chen icon grid va list-->
                <link rel="icon" type="image/x-icon" href="../All_image/img/FLOGO đỏ.png">
                <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    </header>
    <body>
        <h1>{{errMessage}}</h1>
        <!-- đường dẫn -->
        <p class="mx-5 mb-2 font-Regular">
            Home &gt; All products
        </p>

        <!-- cột category bên trái -->
        <div class="flex font-Regular">
            <!-- cố định cột trái -->
            <div id="mobile-only" class="mx-5 w-1/4 sticky top-0 overflow-y-auto h-screen"> 
                <p class="font-Header text-red-700 uppercase text-3xl tracking-wider cursor-pointer" (click)="clearFilter()">
                    categories
                </p>
                <!-- <ul class="bg-gray-100 bg-opacity-60 border-collapse rounded-xl text-center mt-2 tracking-widest">
                    <li *ngFor="let category of listcategory" (click)="selectCategory(category)" class=" cursor-pointer">
                      {{ category }}
                    </li>
                </ul> -->
    
                <ul class="bg-gray-100 bg-opacity-70 rounded-xl p-2 mt-2" >
                    <ng-container *ngFor="let category of listcategory; let last = last" class="flex justify-center items-center">
                        <li class="cursor-pointer" (click)="selectCategory(category)">
                            <a routerLink="" class="block text-center p-3 text-xl">{{ category }}</a>
                        </li>
                        <li *ngIf="!last" class="border-gray-400 ">
                            <hr class="mx-auto my-0">
                        </li>
                    </ng-container>
                </ul>
                <br><br>
                <!-- playlist -->
                <p class="font-Header text-red-700 uppercase text-3xl tracking-wider">PLAY NOW</p>
                <iframe class="w-full h-1/2" src="https://open.spotify.com/embed/playlist/5vDKPLPWPqimXA1G1rKNF2?utm_source=generator&theme=0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
            </div>
            <!-- list all products -->
            <div class="ml-14 w-screen">
                <div class="flex items-center">
                    <label class="font-Header text-red-700 uppercase text-4xl tracking-wider cursor-pointer" (click)="clearFilter()">
                        All products
                    </label>
                    <!-- Search by Artist -->
                    <div class="ml-auto">
                        <input type="text" name="search" [(ngModel)]="searchText"  placeholder="Search Artist here" class="m-2 p-2 border border-gray-300 rounded w-80">
                    </div>
                </div>  
            
                <!-- hiển thị tất cả sản phẩm ở đây -->
                  
                <div class="Product flex flex-wrap font-bold uppercase text-center">                        
                    <div *ngFor='let product of products.slice(0, startIndex + pageSize) 
                                | list:selectedCategory 
                                | filter: searchText' class="my-4 mx-2">
                      <div class="flex items-center justify-center flex-col">
                        <img class="img-resize w-56 h-56 bg-white" src="../../assets/product-image/{{ product.Image }}" alt="{{ product.Name }}">
                        <p class="mt-2">{{ product.Artist }} - {{ product.Name }} - {{ product.category }}</p>                        
                        <hr class="w-1/2  border-gray-400 m-2">
                        <p>{{ product.UnitPrice }}</p>
                        <form action="#" method="post" class="w-full border-black border-solid rounded-2xl py-2">
                          <input type="hidden" name="id" id="#">
                          <button type="submit" name="add" class="cart-resize bg-slate-400 bg-opacity-40 text-black py-2 px-10 rounded-full hover:bg-red-700 focus:outline-none focus:shadow-outline-blue">
                            Add To Cart
                          </button>
                        </form>
                      </div>
                    </div>
                  </div>

                <!-- Hieern thi nut xem them san pham -->
                <div class="flex items-center justify-center">
                    <button *ngIf="startIndex + pageSize < products.length" (click)="loadMore()" class="bg-slate-400 hover:bg-red-700 text-black font-bold rounded-full w-56 h-10 uppercase my-3">More products</button>
                </div>
            </div>
        </div>
    </body>
</html>