
/* Định nghĩa animation cho từng phần tử */
  @keyframes slideup {
    0% {
      opacity: 0;
      transform: translateY(50px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  

  
  
  /* Khi phần tử được hiển thị, áp dụng animation */
  .vision{
    opacity: 0;
    transform: translateY(0);
    animation: slideup 1s ease-in-out 1.2s forwards;
  }
  
  .mission{
    opacity: 0;
    transform: translateY(0);
    animation: slideup 1s ease-in-out 1s forwards;
  }
  
  .wiR {
    opacity: 0;
    transform: translateY(0);
    animation: slideup 1s ease-in-out 0.8s forwards;
  }