<body class="font-Regular" >
    <!-- frame list all function -->
    <div class="flex justify-center items-center">
        <div class="bg-slate-200 bg-opacity-70 w-fit">
            <img class="p-5 rounded-full w-52 h-52" src="../../assets/IMG_0416 (2).JPG" alt="Hang Le">
            <p class="text-center font-bold text-lg">Welcome Hang Le!</p>
            <div class="p-3">
                <span class="flex justify-left mx-5 mt-2">
                    <fa-icon icon="user-circle" class="mr-2"></fa-icon>
                    <p>Account Information</p>
                </span>
                <span class="flex justify-left mx-5 mt-2">
                    <fa-icon icon="list-alt" class="mr-2"></fa-icon>
                    <p>Orders history</p>
                </span>
                <span class="flex justify-left mx-5 mt-2">
                    <fa-icon icon="ticket" class="mr-2"></fa-icon>
                    <p>Discount code</p>
                </span>
                <span class="flex justify-left mx-5 mt-2">
                    <fa-icon icon="sign-in-alt" class="mr-2"></fa-icon>
                    <p>Log out</p>
                </span>
            </div>
        </div>
        <app-acc-info class="ml-10"></app-acc-info>
    </div>


</body>

