<html>
    <body class="items-center" style="background-image: url('../../assets/anhalbum/nền.png');">
        <div class="flex ml-[20px] flex justify-between w-[1500px] h-[500px] rounded-[10px] bg-[#EDEDED]">
            <img class="w-[750px] h-[500px] rounded-l-[10px] float-left" src="../../assets/anhblog/Artwork-an-tuong-cua-nu-nghe-si.-Nguon-tlinh.jpg">
            <div class="px-[20px] py-[40px]">
                <p class="text-left font-['Quicksand'] font-bold text-[33px] text-[#262626] mb-[10px]">"ÁI" - TLINH <br/>A FRESH AND MATURE ALBUM</p>
                <p class="text-left font-['Quicksand'] text-[18px] text-[#4D4D4D]">With her debut album titled "Love," Tlinh not only narrates the love story and personal growth but also showcases why she deserves to be considered as the most prominent female rapper of the second generation after Kimmese, following in her footsteps.</p>
                <p class="text-left font-['Quicksand'] text-[18px] text-[#4D4D4D]">Once a name that stirred up surprises in Rap Vietnam Season 1, with a love story that made headlines everywhere, and lyrics that were once deemed meaningless... However, Tlinh didn't stop there but continued to release her debut album titled "Love." The Gen Z singer not only remains steadfast on her unique path but also matures further in conveying messages through the hurdles she has faced.</p>
                <div class="div-read-this mt-[20px] pt-2 text-center bg-[#EDEDEC] text-[#757575] border border-[3px] border-[#757575] rounded-[10px] cursor-pointer h-12 w-[150px]" 
                id="btnReadThis1" (mouseenter)="changeBackground('btnReadThis1')" (mouseleave)="resetBackground('btnReadThis1')">
                    <button class="btn-read-this text-[25px] cursor-pointer bg-[#EDEDEC] border-none text-lg pb-1 text-[#757575] font-['Quicksand'] font-bold" >READ THIS</button>
                </div>
            </div>
        </div>
        <div class="flex justify-between">
            <div class="mt-[20px] ml-[20px] pt-2 text-center bg-[#757575] text-[#757575] border border-[3px] border-[#757575] rounded-[10px] cursor-pointer h-12 w-[150px]"
            id="btnVietNam" (mouseenter)="changeBackground1('btnVietNam')" (mouseleave)="resetBackground1('btnVietNam')">
                <button class="text-[25px] cursor-pointer bg-[#757575] border-none text-lg pb-1 text-[#FFFFFF] font-['Quicksand'] font-bold">VIETNAM</button>
            </div>
            <div class="div-read-this mt-[20px] mr-[20px] pt-2 text-center bg-[#EDEDEC] text-[#757575] border border-[3px] border-[#757575] rounded-[10px] cursor-pointer h-12 w-[150px]" 
            id="btnReadThis2" (mouseenter)="changeBackground('btnReadThis2')" (mouseleave)="resetBackground('btnReadThis2')">
                <button class="btn-read-this text-[25px] cursor-pointer bg-[#EDEDEC] border-none text-lg pb-1 text-[#757575] font-['Quicksand'] font-bold" >READ THIS</button>
            </div>
        </div>
        <div  class="flex justify-between mx-[20px] mt-[20px]">
            <div class=" bg-[#EDEDED] w-[404px] h-[386px] border-0 rounded-[10px]">
                <button>
                <img class="m-0 rounded-t-[10px] w-[404px] h-[247px]" src="../../assets/anhblog/63613829d74c9_1.jpg">
                <p class="text-center font-['Quicksand'] text-[20px] text-[#262626] mt-[20px] mx-[20px]"><b>CONG - TÓC TIÊN</b><br/> MODERN FEMINISM</p>
                </button>
            </div>
            <div class=" bg-[#EDEDED] w-[404px] h-[386px] border-0 rounded-[10px]">
                <button>
                <img class="m-0 rounded-t-[10px] w-[404px] h-[247px]" src="../../assets/anhblog/800-500-1571634324911334973488-crop-15716343351951940087825.webp">
                <p class="text-center font-['Quicksand'] text-[20px] text-[#262626] mt-[20px] mx-[20px]"><b>HOÀNG - HOÀNG THÙY LINH</b><br/> LAVISH FASHION INVESTMENT</p>
                </button>
            </div>
            <div class=" bg-[#EDEDED] w-[404px] h-[386px] border-0 rounded-[10px]">
                <button>
                <img class="m-0 rounded-t-[10px] w-[404px] h-[247px]" src="../../assets/anhblog/pklinh.jpg">
                <p class="text-center font-['Quicksand'] text-[20px] text-[#262626] mt-[20px] mx-[20px]"><b>CITOPIA - PHÙNG KHÁNH LINH</b><br/> THE CITY THAT DISSOLVES THE SORROW</p>
                </button>
            </div>
        </div>
        <div class="flex justify-between">
            <div class="mt-[20px] ml-[20px] pt-2 text-center bg-[#757575] text-[#757575] border border-[3px] border-[#757575] rounded-[10px] cursor-pointer h-12 w-[150px]"
            id="btnUsuk" (mouseenter)="changeBackground1('btnUsuk')" (mouseleave)="resetBackground1('btnUsuk')">
                <button class="text-[25px] cursor-pointer bg-[#757575] border-none text-lg pb-1 text-[#FFFFFF] font-['Quicksand'] font-bold">US-UK</button>
            </div>
            <div class="div-read-this mt-[20px] pt-2 text-center bg-[#EDEDEC] mr-[20px] text-[#757575] border border-[3px] border-[#757575] rounded-[10px] cursor-pointer h-12 w-[150px]" 
            id="btnReadThis3" (mouseenter)="changeBackground('btnReadThis3')" (mouseleave)="resetBackground('btnReadThis3')">
                <button class="btn-read-this text-[25px] cursor-pointer bg-[#EDEDEC] border-none text-lg pb-1 text-[#757575] font-['Quicksand'] font-bold" >READ THIS</button>
            </div>
        </div>
        <div  class="flex justify-between mx-[20px] mt-[20px]">
            <div class=" bg-[#EDEDED] w-[404px] h-[386px] border-0 rounded-[10px]">
                <button>
                <img class="m-0 rounded-t-[10px] w-[404px] h-[247px]" src="../../assets/anhblog/taylor-swift-new-album-tout2.jpg">
                <p class="text-center font-['Quicksand'] text-[20px] text-[#262626] mt-[20px] mx-[20px]"><b>FOLKLORE - TAYLOR SWIFT</b><br/>A MASTERPIECE OF MUSICAL STORYTELLING</p>
                </button>
            </div>
            <div class=" bg-[#EDEDED] w-[404px] h-[386px] border-0 rounded-[10px]">
                <button>
                <img class="m-0 rounded-t-[10px] w-[404px] h-[247px]" src="../../assets/anhblog/conan-gray-sunset-season-cd-ep-84d5796955264cfab09c584bb8f35be72.jpg">
                <p class="text-center font-['Quicksand'] text-[20px] text-[#262626] mt-[20px] mx-[20px]"><b>SUNSET SEASON - CONAN GRAY</b><br/>UNVEILING EMO-POP'S INTRICATE AND EVOCATIVE LANDSCAPE</p>
                </button>
            </div>
            <div class=" bg-[#EDEDED] w-[404px] h-[386px] border-0 rounded-[10px]">
                <button>
                <img class="m-0 rounded-t-[10px] w-[404px] h-[247px]" src="../../assets/anhblog/born-to-die2.jpg">
                <p class="text-center font-['Quicksand'] text-[20px] text-[#262626] mt-[20px] mx-[20px]"><b>BORN TO DIE - LANA DEL REY</b><br/> A MUSICAL ODYSSEY THROUGH TIME</p>
                </button>
            </div>
        </div>
    </body>
</html>
